@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
body {
    background-color: #fbefdb;
    font-family: "Oi", serif;
    font-weight: normal;
    font-style: normal;
}

.banner{
    background-image:url(C:\Users\VRM1630_2022\Documents\IKT\lucky\img\banner.jpg);
    height:400px;
    background-position:center center;
    background-size:cover;
}